<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <title>Clinder</title>
    </head>
    <body>
        <header>
            <h1 style="text-align: center;">Welcome to Clinder</h1>
        </header>
        <nav style="text-align: center;">
            <a href="/homepage.html">Home</a>
            <a href="/profile_screen.html">Profile</a>
            <a href="/like_screen.html">Likes</a>   
        </nav>
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>